.main {
    background-color: lightgray;
    padding-left: 40px;
}
.chatQuestions {
    background-color: lightgrey;
    display: flex;
    font-weight: bold;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.addQuestions {
    background-color: lightgrey;
    display: flex;
    font-weight: bold;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.help {
    color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 50%;
    text-align: center;
    width: 1em;
    height: 1em;
    margin-left: 10px;
}
.questionList {
    max-width: 1087px;
    background-color: white;
    border: 2px solid darkgrey;
    border-radius: 10px;
    display: flex;
    font-weight: bold;
    align-items: stretch;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    flex-direction: column;
    font-size: 12px;
}
.buttonQuestionlist {
    padding-top: 20px;
    font-weight: bold;
}

.sortBut {
    background-color: darkslateblue;
    color: white;
    border: 2px solid mediumslateblue;
    border-radius: 5px;
    padding: 7px 5px;
}
.remBut {
    background-color: darkred;
    color: white;
    border: 2px solid red;
    border-radius: 5px;
    padding: 7px 5px;
    margin-left: 8px;
}
.formQ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1087px;
}



/* PC */
@media (max-width: 1087px) {
    .main{
        max-width: 970px;
    }
}

/* Tablet */
@media (max-width: 991px) {
    .main{
        max-width: 750px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .main{
        max-width: none;
    }
}